:root {
  --color-primary: #34c94b;
  --color-black: #121212;
  --color-white: #ffffff;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}
body {
  background-color: var(--color-black);
  font-family: "Poppins", sans-serif;
  color: var(--color-white);
  overflow-x: hidden;
}
* {
  margin: 0;
}
html,
body {
  height: 100%;
}